.contactmaincontainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
.contactcontainer{
  margin: 10px;
  
}

.contactcontainer input{
    margin-right: 10px;

}
